html {
    font-family: "Tahoma", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background: linear-gradient(0.25turn, #000000, #303030, #000000);
}