body {
    margin: 0;
    background-color: #000000;
}



.welcome {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.0;
    animation: welcomeIn 1s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes welcomeIn {
    0% {
        transform: translateY(3em);
        opacity: 0.0;
    }

    100% {
        transform: translateY(1.5em);
        opacity: 1.0;
    }
}
@keyframes welcomeOut {
    0% {
        opacity: 1.0;
        transform: translateY(1.5em);
    }

    100% {
        opacity: 0.0;
        transform: translateY(1.5em);
    }
}



.welcome2 {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.0;
    animation: welcomeIn2 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes welcomeIn2 {
    0% {
        transform: translateY(9.5em);
        opacity: 0.0;
    }

    100% {
        transform: translateY(11em);
        opacity: 1.0;
    }
}
@keyframes welcomeOut2 {
    0% {
        opacity: 1.0;
        transform: translateY(11em);
    }

    100% {
        opacity: 0.0;
        transform: translateY(11em);
    }
}



#bmwFront {
    position: fixed;
    opacity: 0.0;
    width: 25%;
    right:37.5%;
    transform: translateY(4em);
    animation: carIn 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes carIn {
    0% {
        transform: translateY(7em);
        opacity: 0.0;
    }
    100% {
        transform: translateY(4.5em);
        opacity: 1.0;
    }
}
@keyframes carOut {
    0% {
        transform: translateY(4.9em);
        transform: scale(1.0);
    }
    100% {
        transform: translateY(4.9em);
        transform: scale(200.0);
    }
}



#bmwSide {
    opacity: 1.0;
    width: 30%;
    transform: scaleX(-1);
    position: absolute;
    right:0%;
}







.buttonTech{
    align-items: center;
    background-color:rgb(0, 0, 0);
    border: 0;
    border-color: black;
    border-radius: 10px;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Tahoma", sans-serif;
    font-size: 21px;
    font-weight: bold;
    width: 6%;
    left:47%;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    opacity: 0.0;

    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: translateY(-6.7em);

    animation: plateIn 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes plateIn{
    0% {
        transform: translateY(20em);
        opacity: 0.0;
    }
    100% {
        transform: translateY(18em);
        opacity: 1.0;
    }
}
@keyframes plateOut {
    0% {
        opacity: 1.0;
        transform: translateY(18em);
    }

    100% {
        opacity: 0.0;
        transform: translateY(18em);
    }
}
    
.buttonTech:active {
    outline: 0;
}
    
.buttonTech:hover {
    outline: 0;
}
    
.buttonTech span {
    transition: all 200ms;
}
    
.buttonTech:hover span {
    transform: scale(.9);
    opacity: .75;
}

@media screen and (max-width: 991px) {
    .buttonTech {
        font-size: 15px;
        height: 50px;
    }
    
    .buttonTech span {
        line-height: 50px;
    }
}
