<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/homeStyle.css">
    </head>
    <body>
        <div class="welcome" id="welcome">
            Text 1
        </div>
        <div class="welcome2" id="welcome2">
            Text 2
        </div>

        <img src="../static/images/bmw front.png" id="bmwFront"></img>
        <button class="buttonTech" id="login"><span class="text">LOGIN</span></button>

        <script type="module" src="/static/main.js"></script>
    </body>
</html>


<style>

</style>